<!DOCTYPE html>
<html lang="en">
<!-- Partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>
        <%- include ("./partials/header.ejs") %>

            <!-- Main Content -->
            <main class="container">
                <!-- Weather Search Section -->
                <div class="row ">
                    <div class="col ">
                        <h1 class="text-center">Weather forecasting for your destination</h1>

                        <div id="infoCard" class="card p-3 mx-auto">
                            <div class="input-group mb-3">
                                <input type="text" id="location" class="form-control" placeholder="Enter your location">
                                <div class="input-group-append">
                                    <button type="button" id="destBtn" class="btn btn-primary"
                                        onclick="loadweather()">Search</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="place" class="card-title"></h2>
                                    <div class="card-body">
                                        <h5 id="sky" class="card-text">Overview: </h5>
                                        <p id="humidity" class="card-text">Humidity: </p>
                                        <p id="temp" class="card-text">Temperature: </p>
                                        <p id="feels" class="card-text">Feels Like: </p>
                                        <p id="tempMax" class="card-text">Max Temperature: </p>
                                        <p id="tempMin" class="card-text">Min Temperature: </p>
                                        <p id="wind" class="card-text">Wind Speed: </p>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <img id="weatherImg" src="/images/weather/Base.png" class="img-fluid"
                                        alt="Weather Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card p-3 mx-auto">
                    <!-- -->
                    <h3 class="text-center">Search flights</h3>
                    <form method="POST" id="searchOneWay">
                        <div class="form-row">
                            <div class="form-group col-md-30">
                                <input type="text" class="form-control" id="departLocation" placeholder="City" required name="City" id="">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="destination" placeholder="destination" required name="destination">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" id="departDate" class="form-control">
                            </div>
                        </div> 
                    </form>
                    <form method="POST" id="searchReturn" class="col-md-7">
                        <div class="form-row">
                            <div class="form-group col-md-30">
                                <input type="text" class="form-control" id="RTDepart" placeholder="depart" required name="depart" id="">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" class="form-control" id="RTDepartDate" placeholder="" required name="">
                            </div>
                            <div class="form-group col-md-30">
                                <input type="text" class="form-control" id="RTReturn" placeholder="return" required name="return" id="">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" class="form-control" id="RTReturnDate" placeholder="" required name="">
                            </div>
                        </div>   
                    </form>
                    <div id="flightOptions" class="col">
                        <div class="col-md-8">
                            <label>Return</label>
                            <input type="radio" onclick="loadReturn()" id="returnRadio" name="fav_language" value="HTML">
                            <label for="">One way</label>
                            <input type="radio"  onclick="loadOneWay()" id="oneWayRadio" name="fav_language" value="HTML">
                            <div class="input-group-append">
                                <button id="returnBtn" class="btn btn-primary" onclick="dateCheck()">Submit</button>
                                <button id="oneWayBtn" class="btn btn-primary" onclick="loadOneWayFLight()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- -->
    
                <ul id="flightList"></ul>

    
                <!-- -->

                <div id="flightInfo" class="flightInfo">
                    <% if (Flight.length) { %>
                        <div class="row">
                            <% Flight.forEach(item => { %>
                                <div class="col-md-6">
                                    <div class="card flight-card">
                                        <div class="card-body">
                                            <a href="/destination/<%= item.flight_ID %>">
                                                <h2 class="card-title"><%= item.airline %></h2>
                                            </a>
                                            <p class="card-text">Destination:  <%= item.destination %></p>
                                            <p class="card-text">Depart: <%= item.departure %></p>
                                            <p class="card-text">Departure Date: <%= item.departure_date %></p>
                                            <p class="card-text">Flight ID: <%= item.flight_ID %></p>
                                            <p class="card-text">Price: <%= item.price %></p>
                                            <p class="card-text">Status: <%= item.status %></p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <% }) %>

                </div>
                <% } else { %>
                    <p>Sorry, there are no itineraries yet...</p>
                <% } %>
            </main>

            <%- include ("./partials/footer.ejs") %>
                <%- include ("./partials/scriptCollection.ejs") %>
    </body>

</html>