<html lang="en">
<!-- Partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>
        <%- include ("./partials/header.ejs") %>

            <!-- Main Content -->
            <main class="container">
                <!-- Weather Search Section -->
                <div class="row ">
                    <div class="col ">
                        <h1 class="text-center">Weather forecasting for your destination</h1>

                        <div id="infoCard" class="card p-3 mx-auto">
                            <div class="input-group mb-3">
                                <input type="text" id="location" class="form-control" placeholder="Enter your location">
                                <div class="input-group-append">
                                    <button type="button" id="destBtn" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="place" class="card-title"></h2>
                                    <div class="card-body">
                                        <h5 id="sky" class="card-text">Overview: </h5>
                                        <p id="humidity" class="card-text">Humidity: </p>
                                        <p id="temp" class="card-text">Temperature: </p>
                                        <p id="feels" class="card-text">Feels Like: </p>
                                        <p id="tempMax" class="card-text">Max Temperature: </p>
                                        <p id="tempMin" class="card-text">Min Temperature: </p>
                                        <p id="wind" class="card-text">Wind Speed: </p>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <img id="weatherImg" src="/images/weather/Base.png" class="img-fluid"
                                        alt="Weather Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card p-3 mx-auto">
                    <!-- -->
                    <h3 class="text-center">Search flights</h3>
                    <form id="searchOneWay" method="POST" name="searchOne" action="/destination/flights">
                        <div class="form-row">
                            <div class="form-group col-md-30" id="oneWayForm">
                                <input type="text" class="form-control" id="departure" placeholder="departure" name="departure" required>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="destination" placeholder="destination" name="destination" required>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" id="departure_date" class="form-control" name ="departure_date" required>
                            </div>
                            <div class="input-group-append">
                                <button id="oneWayBtn" class="btn btn-primary"><a href="/destination/flights"></a>Submit</button>
                            </div>
                        </div>
                        <p class="searchQuery" id="searchQuery"></p>

                    </form>
                    <form id="searchReturn" class="col-md-7" style="display: none ;">
                        <div class="form-row">
                            <div class="form-group col-md-30">
                                <input type="text" class="form-control" id="RTDepart" placeholder="departure" required name="depart" id="">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" class="form-control" id="RTDepartDate" placeholder="" required name="">
                            </div>
                            <div class="form-group col-md-30">
                                <input type="text" class="form-control" id="RTReturn" placeholder="return" required name="return" id="">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" class="form-control" id="RTReturnDate" placeholder="" required name="">
                            </div>
                            <div class="input-group-append">
                                <button id="returnBtn" class="btn btn-primary">Submit</button>
                            </div>  
                        </div> 
                    </form>
                    <div id="flightOptions" class="col">
                        <div class="col-md-8">
                            <label>Return</label>
                            <input type="radio" id="returnRadio" name="fav_language" value="HTML">
                            <label>One way</label>
                            <input type="radio" id="oneWayRadio" name="fav_language" value="HTML">

                        </div>
                    </div>
                </div>
                

                <!-- -->
    
                <div class="flightsDiv" id="flightsDiv"></div>
    

                <!-- -->

                        <div class="row flight-card">
                            <% if (Flight.length) { %>

                            <%  Flight.forEach(item => { %>
                                <div class="row" id="flightOption">
                                    <div class="row-md-6">
                                        <div class="card-body">                                            
                                            <p class="card-text"><strong>Airline:  </strong><%= item.airline %></p>
                                            <p class="card-text"><strong>Destination:</strong>  <%= item.destination %></p>        
                                            <p class="card-text"><strong>Depart: </strong><%= item.departure %></p>
                                            <p class="card-text"><strong>Departure Date: </strong><%= item.departure_date %></p>
                                            <p class="card-text"><strong>Flight ID: </strong><%= item.flight_ID %></p>
                                            <p class="card-text"><strong>Price: </strong><%= item.price %></p>
                                            <p class="card-text"><strong>Status: </strong><%= item.status %></p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                <% } else { %>
                                    <p> </p>
                                <% } %>  
                        </div>                 

            </main>

            <%- include ("./partials/footer.ejs") %>
            <%- include ("./partials/scriptCollection.ejs") %>
    </body>

</html>