<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col">
                    <h1>Itinerary</h1>
                    <div id="editItin">
                        <h3 class="text-center">Create Itinerary</h3>
                        <form method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" placeholder="Destination" required name="Destination">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="date" class="form-control" placeholder="Date" required name="Date">
                                </div>
                                <div class="form-group col-md-3">
                                    <select required name="LengthOfStay" class="form-control">
                                        <% for (let i = 1; i <= 30; i++) { %>
                                            <option value="<%= i %>"><%= i %> days</option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="currency-input">
                                        <span class="currency-symbol">€</span>
                                        <input type="text" class="form-control" placeholder="   Total Cost" required name="TotalCost">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Accommodation Type" required name="AccommodationType">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Accommodation Name" required name="AccommodationName">
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="currency-input">
                                        <span class="currency-symbol">€</span>
                                        <input type="text" class="form-control" placeholder="   Accommodation Cost" required name="AccommodationCost">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <!--input type="text" class="form-control" placeholder="Rental" required name="Rental"-->
                                    <label>Did you Rental Transport?
                                        <input type="radio" id="rentalYes" name="Rental" value="Yes"> Yes
                                        <input type="radio" id="rentalNo" name="Rental" value="No"> No
                                    </label><br>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Rental Type" required name="RentalType" id="rentalType">
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="currency-input">
                                        <span class="currency-symbol">€</span>
                                        <input type="text" class="form-control" placeholder="Rental Cost" required name="RentalCost" id="rentalCost">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="saveBtn">Save Itinerary</button>
                        </form>
                    </div>
                    <div id="bodyText">

                        <h3>Click on a Destination name to find out more about these Itineraries</h3>
                        <p>You will be able to Edit and Delete</p>
                    </div>

                    <div id="showItin" class="itinInfo">
                        <% if (Itin.length) { %>
                            <div class="row">
                                <% Itin.forEach(item => { %>
                                    <div class="col-md-6 col-lg-5">
                                        <div class="card itin-card">
                                            <div class="card-body">
                                                <a href="/itinerary/<%= item._id %>">
                                                    <h2 class="card-title">Destination: <%= item.Destination %></h2>
                                                </a>
                                                <p class="card-text">Date: <%= item.Date %> | Total Cost: <%= item.TotalCost %></p>

                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        <% } else { %>
                            <p>Sorry, there are no itineraries yet...</p>
                        <% } %>
                    </div>
                </div>
            </div>
            <img src="/images/index/planeCloud.png" alt="planeCloud">
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
      
        <!--When testing comment out bottom scipt with back-end as this wont allow the cypress test to run-->
        <!--script src="/itineraryJS.js"></script-->
        <!--script src="/back-end/js/itineraryJS.js"></script-->
        
         
    </body>

</html>
