<!--
    #############

Original itinerary.ejs

    
    <!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", { script: script }) %>
    <%- include("./partials/nav.ejs") %>

        <body class="mainBody">

            <div id="editItin">
                <h3>Create Itinerary</h3>
                <form method="POST">
                    <label>Location</label><br>
                    <input type="text" required name="Location"><br>
                    <label>Date</label><br>
                    <input type="text" required name="Date"><br>
                    <label>Cost</label><br>
                    <input type="text" required name="Cost"><br>
                    <label>Accommodation</label><br>
                    <input type="text" required name="Accommodation"><br>
                    <label>Rental</label><br>
                    <input type="text" required name="Rental"><br><br>
                    <button id="saveBtn">Save Itinerary</button>
                </form>
            </div>
            <div id="showItin" class="itinInfo">
                <% if (Itin.length) { %>
                    <% Itin.forEach(item=> { %>
                        <a href="/itinerary/<%= item._id %>">
                            <h2>Location: <%= item.Location %>
                            </h2>
                        </a>
                        <p>Date: <%= item.Date %>
                        </p>
                        <p>Cost: <%= item.Cost %>
                        </p>
                        <p>Accommodation: <%= item.Accommodation %>
                        </p>
                        <p>Rental: <%= item.Rental %>
                        </p>

                        <% }) %>
                            <% } else { %>
                                <p>Sorry, there are no itineraries yet...</p>
                                <% } %>
            </div>


            <%- include("./partials/footer.ejs") %>
                <script src="/back-end/js/itineraryJS.js"></script>
        </body>

</html>-->

<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col">
                    <div id="editItin">
                        <h3>Create Itinerary</h3>
                        <form method="POST">
                            <label>Location</label><br>
                            <input type="text" required name="Location"><br>
                            <label>Date</label><br>
                            <input type="text" required name="Date"><br>
                            <label>Cost</label><br>
                            <input type="text" required name="Cost"><br>
                            <label>Accommodation</label><br>
                            <input type="text" required name="Accommodation"><br>
                            <label>Rental</label><br>
                            <input type="text" required name="Rental"><br><br>
                            <button id="saveBtn">Save Itinerary</button>
                        </form>
                    </div>
                    <div id="showItin" class="itinInfo">
                        <% if (Itin.length) { %>
                            <% Itin.forEach(item=> { %>
                                <a href="/itinerary/<%= item._id %>">
                                    <h2>Location: <%= item.Location %>
                                    </h2>
                                </a>
                                <p>Date: <%= item.Date %>
                                </p>
                                <p>Cost: <%= item.Cost %>
                                </p>
                                <p>Accommodation: <%= item.Accommodation %>
                                </p>
                                <p>Rental: <%= item.Rental %>
                                </p>
        
                                <% }) %>
                                    <% } else { %>
                                        <p>Sorry, there are no itineraries yet...</p>
                                        <% } %>
                    </div>
                </div>
            </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
        <script src="/back-end/js/itineraryJS.js"></script>
            
            
    </body>

</html>